body {
    margin: 0;
    padding: 0;
}

#logo {
  width: 400px;
}
.navbar-padding {
  padding-left: 200px;
}
#header-bg {
  background-color: #fffbf0;
}
#top-image,
#Last-image {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}
.tex-color1 {
  color: #fabe4c;
  font-weight: 700;
  font-size: 50px;
}
.tex-color2 {
  color: #363958;
  font-weight: 700;
  font-size: 50px;
}
.icon-button {
  background-color: #8ca723;
  border-radius: 10px;
  color: white;
}
.card-image {
  background-color: #f1f1f1;
  width: 100%;
  border-radius: 5%;

  height: 500px;
}
.jacket-card {
  border: none;
  margin-right: 2px;
  width: 100%;
}
.check {
  border: 1px solid black;
}
.icon-image {
  width: 96px;
}
@media screen and (max-width: 500px) {
    .icon-row {
      flex-direction: column-reverse;
    }
}

.last-section{
    border-bottom: 1px solid black;
}
.card>img:hover{
    transform: skew(20deg,5deg);
    transition: transform 3s;
}
.icon-size{
    font-size: 30px;
}